<hr class="featurette-divider">
<p class="lead">
	<%= @company.name %>
	<br />
	<%= @company.address %>
	<br />
	<%= @company.city %>, <%=@company.st%> <%=@company.zip.to_s %>
	<div style='float:right;'>
  <div id="map" style='width: 200px; height: 200px;'></div>

</div>
</p>

