<% provide(:title, 'Apply') %>
<!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <%= image_tag "city.jpg" %>
          <div class="container">
            <div class="carousel-caption">
              <h1>Apply Online with <%= @company.name %></h1>
              <p class="lead">“Coming together is a beginning; keeping together is progress; working together is success.” ― Henry Ford</p>
            </div>
          </div>
        </div>

      </div>
     
    </div><!-- /.carousel -->




      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="featurette">
        <p class="lead">Very seldom do we find the opportunity that allows us to climb the ladder of success by working hard and being rewarded accordingly for it. This is that OPPORTUNITY! Don’t miss the chance to achieve your goals and aspirations for the future. We will review all applications submitted, no matter the experience level you have. Are you ready? Are you driven? determined? Excited about attaining goals? How fast will you climb the ladder? Fill out the form below to apply with us now.</p>

        </div>

        <%= form_for @message, :type => "apply", :url => contact_path do |form| %>
          <fieldset class="fields">
          <div class="field">

            <%= form.label :name %>
            <%= form.text_field :name%>
          </div>
    
          <div class="field">
            <%= form.label :email %>
            <%= form.text_field :email %>
          </div>
          
          <div class="field">
            <%= form.label :phone_number %>
            <%= form.text_field :phone_number %>
          </div>
    
          <div class="field">
            <%= form.label "Resume:" %>
            <%= form.text_area :body %>
          </div>

          <div class="field">
              <%= form.label "How did you hear about us?" %>
              <%= form.text_field :additional_information %>
          </div>
  </fieldset>
  
  <fieldset class="actions">
    <%= form.submit "Send", :class => "btn btn-large btn-primary btn_resize" %>
  </fieldset>
<% end %>

<%= render "static_pages/digitalPresence" %>

<%= render "static_pages/footer" %>