<% provide(:title, 'Contact') %>

<!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <%= image_tag "city.jpg" %>
          <div class="container">
            <div class="carousel-caption">
              <h1>Contact <%= @company.name %></h1>
              <p class="lead">“Those who do not learn from history are doomed to repeat it.” –George Santayana</p>
            </div>
          </div>
        </div>

      </div>
     
    </div><!-- /.carousel -->




      <!-- START THE FEATURETTES -->
      
      <% flash.each do |name, msg| %>
         <% if msg.is_a?(String) %>
         <div class="alert alert-dismissable alert-danger">
        <%= content_tag :div, msg, :class => "flash_#{name}" %>
        </div>
        <% end %>
        <% end %>
        

      <hr class="featurette-divider">

      <div class="featurette">
        <p class="lead">Please use the form below to contact us by email:</p>


<%= form_for @message, :type => "contact", :url => contact_path do |form| %>
  <fieldset class="form-group">
    <div class="field">
      <%= form.label :name, :class => "col-lg-2 control-label" %>
      <%= form.text_field :name %>
    </div>
    
    <div class="field">
      <%= form.label :email, :class => "col-lg-2 control-label" %>
      <%= form.text_field :email %>
    </div>
    <div class="field">
      <%= form.label :phone_number, :class => "col-lg-2 control-label" %>
      <%= form.text_field :phone_number %>
    </div>
    
    <div class="field">
      <%= form.label "Message or Question", :class => "col-lg-2 control-label" %>
      <%= form.text_area :body %>
    </div>
  </fieldset>
  
  <fieldset class="actions">
    <%= form.submit "Send", :class => "btn btn-large btn-primary btn_resize" %>
  </fieldset>
<% end %>

<%= render "static_pages/digitalPresence" %>


<%= render "static_pages/footer" %>
