<header class ="navbar navbar-fixed-top">
		<div class = "navbar-inner">
			<div class = "container">
			
				<%= link_to "wave vision marketing", root_path, id: "logo", :class => "company_name" %>
				<nav>
					<ul class = "nav pull-right">
						<li><%= link_to "Home",			root_path %></li>
						<li><%= link_to "About Us",		aboutus_path %></li>
						<li><%= link_to "Services",		services_path %></li>
						<li><%= link_to "Careers",		careers_path %></li>
						<li><%= link_to "Apply Online",	apply_path %></li>
						<li><%= link_to "Contact",		contact_path %></li>
					
					</ul>
				</nav>
			</div>
		</div>
	</header>